body{
  background: rgb(255, 255, 83);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.btn{
  background: rgb(255, 19, 19);
  margin: 20px;
}

.add-btn{
  background: rgb(43, 228, 68);
  width: 40px;
  height: 40px;
}
.app-title{
  text-align: center;
  color: rgb(12, 16, 17);
  font-size: 70px;
}
.container{
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;

}
